* {
    padding: 0;
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px 0;
}

.selectname {
    padding: 10px 10px;
    margin: 20px 20px;
    font-size: 20px;
    width: 8.8em;
    background: white;
    background: 
    linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
}

.inputname {
    background: white;
    background: 
    linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
    padding: 0.5em 0;
    text-decoration: none;
    color: black;
    width: 8.8em;
}

.body {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.button {
    border: 0;
    padding: 10px 10px;
    margin: 20px 20px;
    font-size: 20px;
    width: 8.8em;
    background: white;
    transition-property: box-shadow;
            transition-duration: 0.5s;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255,255,255,0.3)
        );
    border-radius: 2rem;
    cursor: pointer;
}

.button:not(:disabled):hover{
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
}

.player {
    /*display: inline-flex;
    border: 1px solid black;
    border-collapse: collapse;
    flex-direction: column;
    align-items: center;*/
    text-align: center;
    margin: 3em 3em 1em 3em;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.param{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1em 3em 1em 3em;
}

.box {
    height: 20px;
    width: 20px;
    align-content: center;
    pointer-events: all;
}

.disabled{
    pointer-events: none;
}

input {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
    width: 100px;
}

.inputPoints{
    background: white;
    background: 
    linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
    padding: 0.5em 0;
    text-decoration: none;
    color: black;
}

.playerName,
.playerTotalPoints
{
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
}

.histText{
    background: white;
    background: 
    linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
    padding: 0.5em 0;
    margin: 20px 0 0 0;
    font-size: 15px;
    width: 7em;
    height: 6.6em;
    color: black;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .body,
    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
    }

    .player {
        margin: 20px 10px 10px 10px;
    }
}

/*@media all and (max-device-width: 1080px) {
    .body {
    	flex-direction:column;
    	height:auto;
    }
    
    .buttons {
        flex-direction: column;
    }

    .player {
        margin: 20px 10px 10px 10px;
    }
}*/