body{
    text-align: center;
    background: linear-gradient(
        to right top, 
        #65dfc9, 
        #6cdbeb);
}

p, h2{
    margin: 0;
    padding: 0;
    color: rgba(100,100,100,0.9);
}

header{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-collapse: collapse;
    padding: 0 3%;
    max-width: 15%;
    background: white;
    background: 
    linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
}

header a {
    margin: 3% 0px;
    padding: 5% 0;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #glass {
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
    width: 60%;
    min-height: 80vh;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

.glass{
    padding: 2%;
    background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255,255,255,0.3)
        );
    border-radius: 2rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
}

.circle1, 
.circle2 {
    background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.8), 
        rgba(255,255,255,0.3)
        );
    height: 15rem;
    width: 15rem;
    position: absolute;
    border-radius: 50%;
}

.circle1{
    top: 5%;
    right: 15%;
}

.circle2{
    bottom: 5%;
    left: 10%;
}

@media screen and (max-width:  1100px) {
    main #glass {
        width: 80%;
    }
}

@media screen and (max-width:  850px) {
    main #glass {
        width : 95%;
    }
}