header{
    padding-top: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-collapse: collapse;
}

.nav-lien-start-active{
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px 0 0 8px;
    margin-right: 0;
    border: 2px solid;
    padding: 0.5em 1em;
}

.nav-lien-active{
    text-decoration: none;
    font-size: 20px;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    border: 2px solid;
    padding: 0.5em 1em;
}

.nav-lien-end-active{
    text-decoration: none;
    font-size: 20px;
    border-radius: 0 8px 8px 0;
    margin-left: 0;
    border: 2px solid;
    padding: 0.5em 1em;
}

.nav-lien-start{
    border-radius: 8px 0 0 8px;
    margin-right: 0;
    background-color: white;
    border: 2px solid black;
    padding: 0.5em 1em;
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.nav-lien {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: white;
    border: 2px solid black;
    padding: 0.5em 1em;
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.nav-lien-end{
    border-radius: 0 8px 8px 0;
    margin-left: 0;
    background-color: white;
    border: 2px solid black;
    padding: 0.5em 1em;
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.nav-lien-start:hover,
.nav-lien:hover,
.nav-lien-end:hover{
    background-color: rgb(200,200,200);
}

@media screen and (max-width: 800px) {

}