h4{
    padding-bottom: 2%;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 2%;
    max-width: 75%;
}

.header {
    min-width: 15%;
    width: 15%;
}

.accueil{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: black;
}

.text-glass {
    margin: 2% 0;
}

/*.main{
    margin-top: 50px;
    font-size: 1em;
}*/

.a{
    text-decoration: underline;
    color: grey;
}

/*.second{
    margin-bottom: 50px;
    border: dashed black 2px;
    padding: 5px 20px;
    text-align: center;
}*/