        p{
        display:flex;
        justify-content:center;
        }
        
        #lien{
            display:flex;
            justify-content:center;
            align-items:flex-start;
            flex-wrap:wrap;
            margin: 30px 5px 25px;
            padding:10px;
        }

        #plus:hover,
        .lien:hover,
        .supprim:hover{
            background-color: blue;
            color: white;
        }

        #plus{
            height: 38px;
        }
        
        #param{
            border-radius: 8px 8px 8px 8px;
            background-color: white;
            border: 2px solid black;
            padding: 0.5em 1em;
            text-decoration: none;
            display:none;
            flex-direction:column;
            align-items:center;
            justify-content:flex-end;
            align-content:flex-end;
            width:350px;
            margin:auto;
        }
        
        .box{
        display:none;
        justify-items:center;
        }
        
        .suppr{
            border-radius: 8px 8px 8px 8px;
            background-color: white;
            border: 2px solid black;
            padding: 0.5em 1em;
            margin:10px;
        }

        .supprim{
            border-radius: 8px 8px 8px 8px;
            background-color: white;
            border: 2px solid black;
            padding: 0.5em 1em;
            margin:10px;
            transition-property: background-color, color;
            transition-duration: 0.5s;
        }
        
        .in{
        margin:5px;
        }
        
        .liens{
        display:flex;
        align-items:center;
        padding:8px;
        animation-duration:1s;
        animation-name:apparition;
        }
        
        .lien{
            border-radius: 8px 8px 8px 8px;
            background-color: white;
            border: 2px solid black;
            padding: 0.5em 1em;
            text-decoration: none;
            color: black;
            transition-property: background-color, color;
            transition-duration: 0.5s;
        }
        
        @keyframes apparition {
        from {
        opacity:0;
        }
        
        to {
        opacity:100%;
        }
        }
        
        @keyframes disparition {
        from {
        opacity:100%;
        }
        
        to {
        opacity:0;
        }
        }