        p{
        display:flex;
        justify-content:center;
        }
        
        #lien{
            display:flex;
            justify-content:center;
            align-items:flex-start;
            align-self: center;
            flex-wrap:wrap;
            padding: 5%;
            min-width: 69%;
            max-width: 69%;
            align-content: flex-start;
        }

        #body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            min-width: 79%;
            max-width: 79%;
        }

        #liens{
            display:flex;
            justify-content:center;
            align-items:flex-start;
            flex-wrap:wrap;
            margin: 30px 5px 25px;
            padding:10px;
        }

        #plus:hover,
        .lien:hover,
        .supprim:hover{
            box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
        }

        #plus{
            height: 38px;
        }
        
        #param{
            background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255,255,255,0.3)
        );
    border-radius: 2rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
            padding: 0.5em 1em;
            text-decoration: none;
            display:none;
            flex-direction:column;
            align-items:center;
            justify-content:flex-end;
            align-content:flex-end;
            width:350px;
            margin:auto;
            margin-top: 0;
            margin-bottom: 2%;
        }
        
        .box{
        display:none;
        justify-items:center;
        }
        
        .suppr{
            background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255,255,255,0.3)
        );
    border-radius: 2rem;
            padding: 0.5em 1em;
            margin:10px;
        }

        .supprim{
            border: 0;
            background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255,255,255,0.3)
        );
    border-radius: 2rem;
            padding: 0.5em 1em;
            margin:10px;
            transition-property: box-shadow;
            transition-duration: 0.5s;
            cursor: pointer;
        }
        
        .in{
        margin:5px;
        }
        
        .liens{
        display:flex;
            flex-direction: column;
            flex-wrap: wrap;
        align-items:center;
        padding:8px;
        }
        
        .lien{
            border: 0;
            background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255,255,255,0.3)
        );
    border-radius: 2rem;
            padding: 0.5em 1em;
            text-decoration: none;
            color: rgba(100,100,100,0.9);
            transition-property: box-shadow;
            transition-duration: 0.5s;
            cursor: pointer;
        }