body{
    text-align: center;
}

.pbm-lien{
    text-decoration: none;
    color: rgba(100,100,100,0.9);
    font-size: 20px;
    background: white;
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
    padding: 0.5em 1em;
    margin: 10px 0;
    transition-property: box-shadow;
    transition-duration: 0.5s;
    width: 40%;
}

.pbm-lien:hover{
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);

}

#body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: inherit;
    max-width: 79%;
}