body{
    text-align: center;
}

.pbm-lien{
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: 2px solid black;
    background-color: white;
    border-radius: 8px;
    padding: 0.5em 1em;
    margin: 10px 0;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}

.pbm-lien:hover{
    color: white;
    background-color: blue;

}