#body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2%;
}

.edt{
    width: 100%;
    height: 100%;
}

iframe {
    border-radius: 20px;
}

.select-edt {
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
}

.lien-edt{
    background: white;
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
    color: rgba(100,100,100,0.9);
    text-decoration: none;
    font-size: auto;
    padding: 20px;
    transition-property: box-shadow;
    transition-duration: 0.5s;
}

.lien-edt:hover, .active{
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
}
